:root {
  --aqua: #0fd2d2;
}
.virtual-labs {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  margin: 20px auto;
}
svg {
  transition: 0.2s;
}

.vl-top {
  background: rgb(15, 210, 210);
  background: linear-gradient(
    110deg,
    rgba(15, 210, 210, 1) 0%,
    rgba(12, 89, 112, 1) 58%,
    rgba(2, 20, 25, 1) 100%
  );
  padding: 20px 30px;
  margin: 40px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  gap: 150px;
}

.vl-top-left{
    padding: 10px;
    text-align: left;
}

.vl-top-left h2 {
  margin-bottom: 16px;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #222222e7;
}

.vl-top-left p {
  margin-bottom: 10px;
  font-size: 0.85rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #222222d4;
}

.vl-top-left button {
  padding: 8px 15px;
  margin: 14px 0px 5px;
  background-color: transparent;
  outline: none;
  border: none;
  border: 1px solid #222222d4;
  border-radius: 3px;
  cursor: pointer;
  color: #222222d4;
  font-weight: 500;
}

.implifi-all {
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.ia-item {
  background-color: rgb(30 30 30);
  max-width: 32%;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.ia-item .ia-item-top {
  margin: 5px 0px 10px;
}

.ia-item-top svg {
  /* color: rgb(10, 125, 62); */
  color: rgb(15, 210, 210);
  padding: 8px;
  background-color: rgba(15, 210, 210, 0.1);
  border-radius: 3px;
  font-size: 3.1rem;
}

.ia-item-bottom h2 {
  font-size: 1.3rem;
  color: #c8c8c8d4;
  margin: 5px 0px 10px;
}

.ia-item-bottom p {
  font-size: 0.8rem;
  color: #707070d4;
  margin: 10px 0px 10px;
}

.ia-item-bottom a{
    text-decoration: none;
    display: inline-block;
    margin: 10px 0px 0px;
    border-radius: 3px;
    border: 1px solid var(--aqua);
    background-color: var(--aqua);
    padding: 5px 12px;
    color: #222222;
    font-size: 0.9rem;
    font-weight: 500;
    transition: .3s ease;
}

.ia-item-bottom a:hover{
    background-color: transparent;
    color: var(--aqua);
}

/* /--------------------Profile------------------------/  */

.profile-info {
  color: #f4f4f4;
  padding: auto;
  margin: 0;
}
.box {
  background: #1e1e1e;
  margin: 30px auto;
  width: 1000px;
  max-width: 1000px;
  padding: 60px;
  border-radius: 4px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.profile-box img {
  width: 25%;
  border: 1px solid white;
  padding: 10px;
  border-radius: 200px;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.profile-data {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.profile-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
}
.profile-text div {
  margin-left: 20px;
  padding: 40px;
}
.keys {
  font-weight: 700;
}
.profile-text p {
  padding: 30px 20px;
}
.key hr {
  width: 80vh;
 opacity: 0.3;
}
.key-li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  text-justify: auto;
}
.key-li p {
  padding: 20px 80px;
}
.box svg {
  position: relative;
  margin-left: 90%;
  cursor: pointer;
}
.box svg:hover {
  color: var(--aqua);
}

.education-box .key-li p {
  padding: 30px 130px;
}
.education-box .key {
  margin-left: 0p x;
}
.education-box hr {
  width: 100%;
  margin-left: 20px;
}
.badge-box h4,
.certificate-box h4,
.social-box h4 {
  margin-top: 10px;
  font-weight: 400;
}
.certificate-box .top,
.badge-box .top,
.social-box .top {
  justify-content: start;
}
.badge-display {
  background: #2d2d2d;
  display: flex;
  margin: 20px;
  border-radius: 4px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}
.certificate-box .badge-display {
  flex-wrap: wrap;
}
.badge-display > img {
  width: 30vh;
  cursor: pointer;
}
.cert-info {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: center;
  padding: 24px;
  cursor: pointer;
  border-radius: 3px;
  flex-wrap: wrap;
}

.cert-info:hover{
  background-color: #1e1e1e;
}
.social-info{
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: center;
  padding: 24px;
  cursor: pointer;
  border-radius: 3px;
  flex-wrap: wrap;
}
.cert-info img {
  width: 16vh;
  margin: auto;
  cursor: pointer;
}
.cert-info p {
  font-weight: 700;
  margin-top: 10px;
}
.course-heading.box{
    background: linear-gradient(
        110deg,
        rgba(15, 210, 210, 1) 0%,
        rgba(12, 89, 112, 1) 66%,
        rgba(2, 20, 25, 1) 100%
      );
      padding: auto;

}

.course-heading.box h2{
  color: #222222d4;
}
.course-heading.box p{
    margin-top: 20px;
}


/* continue  */

.continue-virtual{
    width: 1000px;
    margin: 20px auto;
    border-radius: 3px;
    background-color: rgb(30, 30, 30);
    padding: 20px 0px 0px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.cv-top{
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 20px;
    color: #c8c8c8d4;
}

.cv-top a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: var(--aqua);
}

.cv-top a:hover{
    text-decoration: underline;
}

.cv-main{
    padding: 0px 0px;
}
.cv-main-item{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease;
    padding: 10px 20px;
}

.cv-main-item:hover{
    background-color: rgba(255, 255, 255, 0.05);
}

.cv-main-item h2{
    color: #e4e4e4d4;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.info{
    max-width: 60%;
}
.cv-main-item p{
    color: #666666d4;
    margin-bottom: 5px;
    font-weight: 600;
    text-align: left;
    font-size: 0.9rem;

}

.sc-status .pending{
    padding: 5px;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 3px;
    border: 1PX solid rgba(255, 255, 255, 0.05);
    color: red;
}

.sc-status .completed{
    padding: 5px;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 3px;
    border: 1PX solid rgba(255, 255, 255, 0.05);
    color: green;
}

.sc-status .not-started{
    padding: 5px;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 3px;
    border: 1PX solid rgba(255, 255, 255, 0.05);
    color: #767676d4;
}

.continue-workshop{
    width: 1000px;
    margin: 50px auto;
}

.cw-top{
    margin: 80px 0px 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #c8c8c8d4;
}

.cw-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .cw-main > * {
    flex-basis: calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
  }
  


.courses{
    max-width: 1000px;
    margin: 50px auto;
}


.head{
    margin-top: 10px;
    text-align: center;
  
  }
  
  .head h2{
    font-size: 2rem;
    font-weight: 600;
    color: #adadad;
  }
  
  .head h2 span{
    color: #d7d7d7d4;
  }
  
  .head h3{
    font-size: 1.3rem;
    margin-top: 5px;
    font-weight: 400;
    color: #a4a4a4;
  }
  
  .perks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0px;
  
  }
  
  .perk{
    width: 120px;
    text-align: center;
    margin: 0px 20px 10px 0px;
    padding: 5px;
  }
  
  .perk img{
    width: 70px;
    padding: 5px;
    border-radius: 10px;
    background-color: #222222d4;
    border: 1px solid rgba(255, 255, 255, 0.05);
    
  }
  
  .perk p{
    font-size: 0.7rem;
    margin-top: 10px;
    color: #6e6e73;
  }
  

  /* //virtual labs  */

  .virtual-lab-do{
    width: 1000px;
    margin: 40px auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .virtual-lab-domain{
    display: flex;
    width: 1000px;
    margin: 50px auto;
    background-color: rgb(30, 30, 30);

  }

  .vld-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
  }


  .virtual-lab-domains{
    background-color: rgb(30, 30, 30);

    max-width: 1000px;
    margin: 10px auto;
  }

  .vld-main{
    width: 1000px !important;
    padding: 20px 0px 0px;
  }