:root {
  --aqua: #0fd2d2;
}

.Navbar {
  background-color: rgb(30,30,30);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}
.nav-logo {
  position: relative;
  margin-top: 10px;
}
.nav-logo {
  position: relative;
  left: 30px;
  width: 110px;
}
.nav-options a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1.1px;
  display: flex;
  flex-direction: row;
  margin: 20px;
  transition: 0.3s all;
}
.nav-options a:hover {
    color: var(--aqua);
}
.nav-options ul {
  display: flex;
  flex-direction: row;
  margin-left: 90px;
  align-items: center;
  justify-content: center;
}
.nav-options li {
  list-style-type: none;
}
.profile-display{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.profile-display svg {
  margin: 50px 20px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s all;
}
.profile-display > svg:hover{
    color: #0fd2d2;
}
.profile-name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0px 20px;
}

.profile-display p{
    color: #f5f5f5;
    font-size: 0.8rem;
    font-weight: 300;
}

.profile-display hr{
    margin: 0 10px;
    width: 1px;
    height: 40px;
}

/*--------------------------------------Sidebar-----------------------------------*/
.sidebar{
  position: fixed;
  padding: 10px 0px 10px 0px;
  height: 100vh;
  width: 20%;
  background: #222222;
  border-right: 2px var(--aqua) solid;
  overflow: scroll;
  overflow: hidden;
  
}

.sidebar ul li{
  list-style: none;
  border-radius: 1px;
  padding: 20px 40px;
  transition: 0.3s background-color;
  
}

.sidebar ul li:hover{
  /* border-right: 5px solid #0096a1; */
  background-color: #ffffffa0;
  cursor: pointer;
}

.sidebar ul li:hover a{
  color: #111;
}

.sidebar ul li a:active{
  color:red;
}

.sidebar ul li a{
  text-decoration: none;
  margin: 0px;
  display: block;
  width: 100%;
  height: 100%;
  color: #eee;
  font-weight: 600;

}

.sidebar ul .active{
  border-right: 5px solid #0096a1;
  background-color: #f5f5f5;
}


/* courses  */

.cw-main-item{
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.05);

  background-color: rgba(30, 30, 30, 1);
}

.cw-main-item img{
  width: 100%;
}

.cw-main-item-info{
  width: 100%;
}

.cw-main-item-info-top{
  display: flex;
  padding: 15px 10px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  position: relative;
  top: -5px;

}

.cw-main-item-info-top h2{
  width: 85%;
  font-size: 1rem;
  color: #c8c8c8d4;
  font-weight: 500;
}

.cw-main-item-info-top img{
  width: 13%;
}


.cw-main-item-info-main{
  padding: 10px;
}
.cw-main-item-info-main p{
  width: 85%;
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;

  color: #717171d4;
  font-weight: 500;
}

.cwmiim-item{
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  margin: 10px 10px 0px 0px;
  color: #717171d4  ;
  padding: 5px;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 140px;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: 500
}


.cwmiim-item svg{
  font-size: 1.1rem;
}


.cw-main-item-info-main a{
  display: inline-block;
  margin-bottom: 8px;
  color: var(--aqua);
  text-decoration: none;
  border: 0.5px solid grey;
  padding: 3px 12px 5px;
  border-radius: 3px;
  color: #717171d4;
}